modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Serve website"

[[workflows.workflow]]
name = "Serve website"
author = 39751115

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 3000 --bind 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80
